{{- $keywords := lower (printf "%s %s %s" .Title (.Params.genre | default "") (.Params.dailyURL | default "")) -}}
{{- with .Params.tags -}}
  {{- $keywords = printf "%s %s" $keywords (lower (delimit . " ")) -}}
{{- end -}}
{{- $topic := "daily" -}}
{{- if in $keywords "block" -}}
  {{- $topic = "block" -}}
{{- else if or (in $keywords "word") (in $keywords "kpop") -}}
  {{- $topic = "word" -}}
{{- else if or (in $keywords "ring") (in $keywords "color") -}}
  {{- $topic = "color" -}}
{{- else if or (in $keywords "number") (in $keywords "mapdoku") (in $keywords "logic") -}}
  {{- $topic = "number" -}}
{{- end -}}
{{- return $topic -}}
