<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{{ $siteName := .Site.Params.siteName | default .Site.Title }}
{{ $defaultTitle := .Site.Params.defaultTitle | default (printf "%s | Your Daily Puzzle World" $siteName) }}
{{ $defaultDescription := .Site.Params.defaultDescription | default .Site.Params.description }}
{{ $description := .Description | default $defaultDescription }}
{{ $title := cond .IsHome $defaultTitle (printf "%s | %s" .Title $siteName) }}
{{ $canonical := .Permalink }}
{{ $ogType := cond .IsPage "article" "website" }}
  <title>{{ $title }}</title>
  <meta name="description" content="{{ $description }}">
  <link rel="canonical" href="{{ $canonical }}">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <meta property="og:type" content="{{ $ogType }}">
  <meta property="og:title" content="{{ $title }}">
  <meta property="og:description" content="{{ $description }}">
  <meta property="og:url" content="{{ $canonical }}">
  <meta property="og:site_name" content="{{ $siteName }}">
  <meta property="og:locale" content="{{ .Site.Params.defaultLocale | default "en_US" }}">
  <meta name="twitter:card" content="{{ .Site.Params.twitterCard | default "summary" }}">
  <meta name="twitter:title" content="{{ $title }}">
  <meta name="twitter:description" content="{{ $description }}">
{{ if and .IsPage (eq .Section "blog") }}
{{ with .Date }}  <meta property="article:published_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
{{ end }}
{{ with .Lastmod }}  <meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
{{ end }}
{{ end }}
{{ partial "structured-data.html" . }}
  <link rel="stylesheet" href="/css/main.css">
{{ if .Params.playable }}
  <link rel="stylesheet" href="/css/games.css">
{{ end }}
</head>
